extends layout

block content

  div.message-board
    if messages
      each message in messages
        div.message
          if currentUser
            if currentUser.admin
              a(href=`/message/${message._id}/delete`).delete-btn Delete Message
            if currentUser.member
              p.message-author #{message.author.first_name} wrote:
          p.message-timestamp=message.formatted_date 
          h3.message-title=message.title
          p.message-body=message.body
    else
      h3 There is nothing here
